
* {
	padding: 0px;
	margin: 0px;
}

#myVideo{
	position: fixed;
	right: 49%;
	bottom: 0px;
	min-width: 100%;
	min-height: 100%;
	transform:rotateY(180deg);
}

#myVideo2{
	position: fixed;
	left: 49%;
	bottom: 0;
	min-width: 100%;
	min-height: 105%;
}

.content {
	text-align: center;
	position: fixed;
	top: 24%;
    right: 39%;

	color: #f1f1f1;
	width: 22%;

    padding-top: 20%;

	/* border-style: solid;
	border-color: green; */
}

.profilePicture {
	position: fixed;
    border-radius: 50%;
    width: 15%;
	min-width: 200px;
    vertical-align: middle;
 	/* right: 42%; */

  	left: 0;
  	right: 0;
  	margin: auto;

    animation-name: profilePicture;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes profilePicture {
    0% {top: -100%}
    100% {top: 20%}
}

#button {
    padding: 10px;
	width: 7%;
	min-width: 70px;
    position: fixed;
	left: 0;
  	right: 0;
  	margin: auto;
    text-decoration: none;
    color: white;
	font-size: 3vh;
    border-style: solid;
    border-width: thin;


    border-color: white;
    opacity: 0;

    animation-name: button;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;

    /* transition-property: transform;
    transition-duration: 1.5s; */
	transition-duration: 500ms;



}

/* .button:hover {
    transform: rotateY(180deg);
} */

#button.activate {
	width: 30%;
}


@keyframes button {
    0% {opacity: 0}
    100% {opacity: 1}
}

#about {
	padding: 0px;
	margin: 0px;
	width: 7%;
	min-width: 70px;
    position: relative;
	left: 0;
  	right: 0;
  	margin: auto;
    text-decoration: none;
    text-color: white;
	font-size: 3vh;
}


#summary {
	font-size: 2vh;
}

#summary.active {


}


#Christopher {
    position: fixed;
	font-size: 8vh;
    color: white;
    padding: 0px;
    margin: 0px;
    top: 46%;

    animation-name: Christopher;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes Christopher {
    0% {left: -300%}
    100% {left: 46%}
}

#Mouri {
    position: fixed;
	font-size: 3.2vh;
    color: #9b9a93;
    padding: 0px;
    margin-top: 0px;
    top: 51%;

    animation-name: Mouri;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes Mouri {
    0% {right: -100%}
    100% {right: 38%}
}


#side {
	position: fixed;
	/* border-style: solid;
	border-color: green; */
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 220px;
	background-color: #222;
	left:-220px;
	transition-duration: 500ms;

}
#side ul li {
	position: relative;
	color: #ccc;
	padding: 20px 10px;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	color: #ccc;
}


#side .toggle-button {
	position:absolute;
	left:240px;
	top:20px;
	left: 240px;
}

#side.active {
	left:0px;
}

#side .toggle-button span {
	display:block;
	width:40px;
	height:5px;
	background: #ccc;
	margin: 5px 0px;

}

#bottom {
	position: fixed;
	padding: 0px;
	margin: 33px;
	width: 145px;
	bottom: 0px;
}

#socials {
	border-bottom-style: ridge;
	border-width: thin;
	border-color: white;
}

.instagram{
	width: 30px;
}
.instagram:hover {
	width: 40px;
}

.facebook {
	width: 40px;
	padding-left: 13px;
	/* padding: 5px; */
}
.facebook:hover {
	width: 50px;
	padding-left: 3px;
}

.linkedin {
	postion: fixed;
	width: 20.5px;
	padding-bottom: 4.55px;
	padding-left: 9px;
}
.linkedin:hover {
	width: 30px;
}

#phone {
	position: relative;
	color: #ccc;
	padding: 7px;
	padding-left: 4px;
	text-align: center;
	font-family: Arial;
	font-size: 5;
}

.email {
	position: relative;
	color: #ccc;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	font-family: Arial;
	font-size: 12px;
}

#downwards {
	margin: 0px;
	padding: 0px;
	left: 50%;
	position:fixed;
	width: 2px;
	height: 100%;
	opacity: 0.4;
	background-color: #333;
	/* border-color: green;
	border-style: solid; */
}

#downAnimate {
	position: relative;
	right: 50%;
	top: -100%;
	margin: 0px;
	padding: 0px;
	background-color: #fff;
	/* background-color: rgb(131,131,139); */
	/* background: linear-gradient(90deg, rgba(131,131,139,1) 0%,
	 rgba(212,205,205,1) 20%, rgba(246,244,244,1) 100%); */
	opacity: 0.6;
	width: 2.7px;
	height: 15%;
	border-top-right-radius: 100%;
	border-top-left-radius: 100%;
	border-bottom-left-radius: 10%;
	border-bottom-right-radius: 10%;
	/* border-color: green;
	border-style: solid; */
	animation-name: downAnimate;
    animation-duration: 3s;
    animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-delay: 2s;


}

@keyframes downAnimate {
	0% {top: -100%}
    100% {top: 100%}
}
