#sidebar {
    position: absolute;
    height: 100%;
    width: 210px;
    left: 75px;
}

#sidebar span {
    display: block;
    position: fixed;
    bottom: 100%;
    /* right: 50%; */
    /* background: #141414; */
    background: #333;
    height: 100%;
    width: 210px;

    animation-name: drop;
    animation-fill-mode: forwards;
    animation-delay: 6s;
    animation-duration: 1s;
}
@keyframes drop {
    0% { bottom: 100% }
    100% { bottom: 0% }
}

#profile {
    position: inherit;
    visibility: visible;
    width: 70%;
    bottom: 150%;

    right: 0;
    left: 0;
    margin: auto;

    animation-name: dropprofile;
    animation-fill-mode: forwards;
    animation-delay: 6s;
    animation-duration: 1s;
}
@keyframes dropprofile {
    0% { bottom: 150% }
    100% { bottom: 97% }
}

#pic {
    position: fixed;
    width: 100px;
    border-radius: 50%;
    left: 75px;
    margin-left: 55px;
    margin-right: 55px;
    vertical-align: middle;
}
#profile h1 {
    position: fixed;
    font-family: none;
    color: #ccc;
    font-size: 14px;
    /* background-color: initial; */
    margin-top: 110px;
    vertical-align: middle;
    margin-left: 10px;
    /* margin-right: 1px; */

    /* padding-top: 10px; */
}
#sideinfo {
    position: fixed;
    width: 210px;
    margin-top: 160px;
    left: 75px;
}
#sideinfo ul {
    padding-left: 0px;
}
#sideinfo ul li {
    color: #ccc;
    padding-top: 5px;
    padding-bottom: 5px;

    padding-left: 25px;
    margin-bottom: 30px;
    margin-left: 0px;
    list-style-type: none;

	font-size: 18px;
    font-family: system-ui;
    font-weight:lighter;
}
a {
    text-decoration: none;
    color: #ccc;
}
a:visited {
    text-decoration: none;
    color: #ccc;
}
a:hover {
    font-weight: bold;
}


#bottom {
	position: fixed;
    bottom: 150%;

    animation-name: dropfooter;
    animation-fill-mode: forwards;
    animation-delay: 6s;
    animation-duration: 1s;
}
@keyframes dropfooter {
    0% { bottom: 150% }
    100% { bottom: 5% }
}

#socials {
	border-bottom-style: ridge;
	border-width: thin;
	border-color: white;
}

.instagram{
	width: 30px;
}
.instagram:hover {
	width: 40px;
}

.facebook {
	width: 40px;
	padding-left: 13px;
	/* padding: 5px; */
}
.facebook:hover {
	width: 50px;
	padding-left: 3px;
}

.linkedin {
	postion: fixed;
	width: 20.5px;
	padding-bottom: 4.55px;
	padding-left: 9px;
}
.linkedin:hover {
	width: 30px;
}

#phone {
	position: relative;
	color: #ccc;
	padding: 7px;
	padding-left: 4px;
	text-align: center;
	font-family: Arial;
	font-size: 5;
}

.email {
	position: relative;
	color: #ccc;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	font-family: Arial;
	font-size: 12px;
}
